body{
  margin: 0;
}

.red{
  width: 100px;
  height:100px;
  background-color: red;
  position: absolute;
  top:300px;
  left: 200px;



}
.blue{
  width: 100px;
  height:100px;
  background-color: blue;
  position: absolute;
  left:100px;

}
.yellow{
  width: 100px;
  height:100px;
  background-color: yellow;

}
.container{
  height: 300px;
  width:300px;
  background-color: grey;
}
